# Requisitos principales para el proyecto de Analítica de Datos
numpy==1.26.4
pandas==2.2.2
matplotlib==3.9.0
seaborn==0.13.2
scikit-learn==1.5.1

# Para trabajar con notebooks
jupyter==1.0.0
notebook==7.1.2
ipykernel==6.29.4

scipy==1.13.0
plotly==5.20.0
